<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Gangotri Sanitary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
</head>
<body>
<div class="container">
<%- include('header') -%>
<hr/>
<h3><b><i>Our Shop</i></b></h3>
<hr/>  
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
                <div class="col-lg-8" style="background: #f7f5f6;color: #101010;font-size:18px;">
                        <span class="Blue-Text" ><strong>Gangotri Sanitary Stores </strong></span> Gangotri Sanitary  is a family run enterprise engaged in wholesaling, retailing, importing & exporting of sanitaryware, bathroom fittings, tiles and other plumbing requisites. Bharat has been trading for over 15 years and services its clients through its Shop  in  North Gujarat, which display a wide variety of exclusive Indian and imported bathroom products.  We offer entire bathroom solutions suited for all type of budgets.<br />
                        <br />
                      We offer entire bathroom solutions suited for all type of budgets. We have developed relationships with leading domestic and international suppliers to serve our clients.
                      </div>
            <div class="col-lg-4" >
           

            <img src="images/home.jpg" width="300px" height="200px"/>
          </div>
          
</div>


</div>
<hr/>
          <%- include('footer') -%>
</body>
</html>