<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Gangotri Sanitary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/pr.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/table.css" />
    <script type="text/javascript" src="javascripts/hardik.js"></script>
    
    <link href='CE.jpg' rel='icon' type='image/x-icon' />
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css">
 
</head>
<body>
<div class="container">
<%- include('header') -%>
                  <hr/>
                  <h3><b><i>Feed Back</i></b></h3>
                  <hr/>  
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
							<div class="col-lg-8">

								<center>
									<table style="margin-top: 0px;border-bottom-width: 1px solid #e5e5e5; margin-top: 50px;border-bottom: 5px;color: #ff884d;background-color:#eee;text-align: center;">
										 <tr>
											 <td><h2 style="width:350;margin-top: 23.92;">FEED BACK</h2></td>
										 <!--<div class="sidebar">
											 <div class="sidebar-header"style= " margin-top: 0px; margin-left: 497px;margin-right: 498px;border-bottom-width: 1px; margin-top: 50px;border-bottom: 5px; ">
			 
												 <h2 style="margin-top: 8.06;">Registration</h2>
											 </div>
										 </div>-->
											 </tr>
										 </table>
								 </center>
									
									  <form name="myForm" action="home.html" method="POST" onsubmit="return hardik(); return hardik2(); "style="margin-left:0px; ">
										
										
										 
			 
										 <table style="color:white; font-size:30px; border-top-width: 0px; "align="center">
									
											
											<tr>
												 <td class="tdclass" >First Name</td>
												</tr>
											 <tr>
												 <td class="tdclas">
													 <input type="text" placeholder="First Name" name="fname" id="Name" class="tableclass">
			 
												 </td>
											 </tr>
											 <tr>
												 <td class="tdclass" >
													 Last Name 
												 </td>
												 </tr>
											 <tr>
												 <td class="tdclass">
													 <input type="text" placeholder="Last Name" name="lname" id="name" class="tableclass">
			 
												 </td>
											 </tr>
			
											 <tr>
												 <td class="tdclass">
													 Email
												 </td>
												 </tr>
											 <tr>
												 <td class="tdclass"><input type="text"  placeholder="Email" name="ename" id="email" class="tableclass"></td>
											 </tr>
			 
											 <tr>
												 <td class="tdclass">
													Address
												 </td>
												 </tr>
											 <tr>
												 <td class="tdclass"><input type="text" placeholder="Address" name="uname" id="User-Name" class="tableclass"></td>
											 </tr>
											 
											 <tr>
												 <td class="tdclass">
													 Comment
												 </td>
												 </tr>
											 <tr>
												 <td class="tdclass"><textarea cols="30" rows="2" type="text" placeholder="Comment" name="cname" id="Confirm Password" style="width:500px;
													height:100px; 
													font-size:20px;
													background-color:#eee; color: black;" ></textarea></td>
											 </tr>
			 
											 <tr>
												 
												 
													 <td >
														 
														 <input type="submit" value="Submit" id="t" name="submit" onmouseover=" return hardikmove()" onmouseout=" return hardikback()" style="
															  
																width: 164px;
																border-top-width: 5px;
																padding-bottom :5px;
																border-left-width :0px;
																margin-top :20px;
																font-size:30px;
																hover:red;"/>
															 
													 </td>
												
													 
											 
										 </table>
			 
									 </form>


							</div>
							<div class="col-lg-4">
								<center>
									<table style="margin-top: 0px;border-bottom-width: 1px solid #e5e5e5; margin-top: 50px;border-bottom: 5px;color: #ff884d;background-color:#eee;text-align: center;">
										 <tr>
											 <td><h2 style="width:350;margin-top: 23.92;">CONTACT US</h2></td>
										 <!--<div class="sidebar">
											 <div class="sidebar-header"style= " margin-top: 0px; margin-left: 497px;margin-right: 498px;border-bottom-width: 1px; margin-top: 50px;border-bottom: 5px; ">
			 
												 <h2 style="margin-top: 8.06;">Registration</h2>
											 </div>
										 </div>-->
											 </tr>
										 </table>
								 </center>
								<hr/>
								<p style="font-size:20px;"><i><b>Name:</b>   Prajapati Rameshbhai .D</i></p>
								<hr/>
								<p style="font-size:20px;"><i><b>Address:</b>  Ratna Park Society,
									Near Ganeshpura Road, Palanpur,
									Gujarat 385001.  </i></p>
								<hr/>
								
								<p style="font-size:20px;"><i><b>Mobile No:</b>+91 9924281221<br/>+91 7016620340<br/>+91 9978527064<br /></i></p>
								<hr/>
								<p style="font-size:20px;"><i><b>Email:</b>hrp1501998@gmail.com</i></p>
							</div>

                          </div>
                      </div>
                      <hr/>
        </div>      
                  
<%- include('footer') -%>
</div>
</body>
</html>