<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Gangotri Sanitary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
</head>
<body>
<div class="container">
<%- include('header') -%>
                  <hr/>
                  <h3><b><i>Producat Bay Compuny</i></b></h3>
                  <hr/>        
    
  <div class="row">
        
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
  <div class="col-lg-4" >
  
        <h2  class="slider"><center>ASTRAL</center></h2>
  
   <a href="/astral"><img src="images/astral.png" width="300px" height="200px"/>
  </a>
</div>

  
  <div class="col-lg-4" >
  
  <h2 class="slider"><center>SKIPPER</center></h2>
  <a href="/skipper"><img src="images/skipper.jpg" width="300px" height="200px"/>
  </a>
  </div>
  <div class="col-lg-4" >
  
  <h2 ><center class="slider">FINOLEX</center></h2>
  <a href="finolex"><img src="images/finolex.jpg" width="300px" height="200px"/>
  </a>
  </div>
 
  <div class="col-lg-4" >
  
        <h2 ><center class="slider">KISAN</center></h2>
        <a href="/kisan"><img src="images/kisan.png" width="300px" height="200px"/>
        </a>
        </div>
        <div class="col-lg-4" >
  
                <h2 ><center class="slider">SINTEX</center></h2>
                <a href="/astral"><img src="images/sintex.jpg" width="300px" height="200px"/>
                </a>
                </div>
                <div class="col-lg-4" >
  
                        <h2 ><center class="slider">ZPLOTO  VALVE</center></h2>
                        <a href="/astral"></a><img src="images/zoloto.png" width="300px" height="200px"/>
                        </a>
                        </div>
            </div>
  </div>
  <hr/>
<%- include('footer') -%>
</div>
</body>
</html>
