.h
{
	width: 150px;
	height: 30px;
	background: #f7f5f6;
	color: #101010;
	font-size:18px;
	
}
.t{
	position: relative;
    left: 0px;
    bottom: 0;
    width: 300px;
    background-color:#f7f5f6;
    color: #101010;
    text-align: center;
}